.title,
.subTitle,
.sectionTitle,
.heading,
.subHeading,
.description,
.details,
.detailsItem,
.text {
    margin: 0;
    font-weight: normal;
}

.title,
.heading,
.bold {
    font-weight: bold;
}

.title {
    margin-bottom: 0.5rem;
}

.subTitle {
    color: #686868;
}

.sectionTitle {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #686868;
}

.heading {
    margin-bottom: 0.25rem
}

.subHeading {
    margin-bottom: 0.25rem;
}

.description {
    margin-bottom: 0.5rem;
}

.description {
    color: #686868;
}

.detailsItem {
    color: #4B4B4B;
    margin-bottom: 0.25rem;
}

.text {
    margin-bottom: 0.25rem;
}

.small.heading {
    font-size: 1rem;
}

.small.subHeading,
.small.description,
.small.detailsItem,
.small.text {
    font-size: 0.85rem;
}

.small.sectionTitle {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
